body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(0, 0, 0);
}

.shadow {
    box-shadow: 0px 10px 80px 0px black;
}

div {
    background-attachment: fixed;
}

.none {
    display: none;
}

.conatiner {
    width: 90%;
    margin: 0 auto;
    color: rgb(0, 38, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .row {
        .section {
            position: relative;
            width: 100vw;
            height: 100vh;
            background-image: url("/bosh sahifa/asosiy qism/img/maktab.png");
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            padding: 20px;
            text-align: center;
            text-transform: uppercase;
            font-family: 'Segoe UI',
                Tahoma,
                Geneva,
                Verdana,
                sans-serif;
            color: #fff;

            a {
                position: absolute;
                top: 4%;
                left: 18%;

                img {
                    width: 3vw;
                }
            }

            h1 {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 3rem;
            }

            .header {
                width: 500px;
                background: rgba(0, 0, 0, 0.603);
                border: 2px solid green;

                a {
                    display: block;
                }
            }
        }



        .maktab {
            width: 100%;
            padding: 40px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            flex-wrap: wrap;

            .haqida {
                width: 30%;
                border-radius: 20px;
                background: #fff;

                img {
                    width: 100%;
                    border-radius: 20px 20px 0 0;
                }

                &:hover {
                    transform: scale(.9);
                    transition: all .6s linear;
                }

                h3,
                p {
                    padding: 0 40px;
                }
            }
        }

        .foydali {
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            align-items: center;

            a {
                &:hover {
                    transform: translatey(-20px);
                    transition: all .3s linear;
                }

                img {
                    width: 100%;
                }

                h1 {
                    font-size: 16px;
                }

            }
        }
    }
}